html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #37474f;
  font-size: 1.6rem;
}

.page-logo {
  width: 100px;
}

.page-header {
  position: absolute;
  width: 100%;
  padding: 20px;
  padding-top: 28px;
  box-sizing: border-box;
}

/*Hamburger*/
.page-nav .hamburger {
  background: 0;
  position: absolute;
  right: 20px;
  top: 65px;
}

.hamburger {
  width: 40px;
  height: 35px;
  border: 0;
  border-top: 5px solid #000;
  background: transparent;
  position: relative;
  transition: 0.3s transform linear;
}

.hamburger::before, .hamburger::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 5px solid #000;
  transform: translateY(10px);
}

.hamburger::after {
  transform: translateY(25px);
  transition: 0.3s transform linear;
}

.hamburger:focus {
  transform: rotate(45deg) translateY(5px);
  border: none;
}

.hamburger:focus::after {
  transform: rotate(-90deg) translateX(-10px);
}

/*----------------------------------------------------*/

.article .article-header {
  background: url(../img/main.jpg) no-repeat;
  background-size: cover;
  background-position: 50%;

  padding-top: 150px;
}


.page-nav .navigation-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  /*display: none;*/
  width: 100%;
  text-align: center;
}

.page-nav .navigation-menu li {

}

.page-nav .navigation-menu li a {
  color: #000000;
  text-decoration: none;
  font-size: 1.4rem;
}

.page-header.nav-opened {
  background: #ffffff;
}

.page-header.nav-opened .page-nav .hamburger {
  fill: blue;
}

.article-title {
  margin: 0;
}

.article-sidebar .article-picture img {
  max-width: 100%;
}
