html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #37474f;
  font-size: 1.6rem;
}


.page-header {
  position: absolute;
  width: 100%;
  padding: 20px;
  padding-top: 28px;
  box-sizing: border-box;
}

/*Hamburger*/
.page-nav .hamburger {
  background: 0;
  position: absolute;
  right: 20px;
  top: 65px;
}

.hamburger {
  width: 40px;
  height: 35px;
  border: 0;
  border-top: 5px solid #000;
  background: transparent;
  position: relative;
  transition: 0.3s transform linear;
}

.hamburger::before, .hamburger::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 5px solid #000;
  transform: translateY(10px);
}

.hamburger::after {
  transform: translateY(25px);
  transition: 0.3s transform linear;
}

.hamburger:focus {
  transform: rotate(45deg) translateY(5px);
  border: none;
}

.hamburger:focus::after {
  transform: rotate(-90deg) translateX(-10px);
}

/*----------------------------------------------------*/

.article .article-header {
  box-sizing: border-box;
  background: url(../img/main.jpg) no-repeat;
  background-size: cover;
  background-position: 50%;

  min-height: 60vh;

  padding: 20px;
  padding-top: 150px;

  display: flex;
  flex-direction: column;
  flex: 1 1 0;

  color: #ffffff;
  text-align: center;
}

.page-nav .navigation-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  width: 100%;
  text-align: center;
}

.page-nav .navigation-menu li {
  border-bottom: 1px solid #f5f7f8;
  padding-top: 15px;
  padding-bottom: 15px;
}

.page-nav .navigation-menu li a {
  color: #000000;
  text-decoration: none;
  font-size: 1.4rem;
}

.page-nav .navigation-menu li.contact-us {
  border: 0;
  margin-top: 30px;
}

.page-nav .navigation-menu li.contact-us a {
  border: 2px solid #00baa5;
  border-radius: 25px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.page-header.nav-opened {
  background: #ffffff;
  box-shadow: -1px 9px 19px -8px rgba(0, 0, 0, 0.5);
}

.page-header.nav-opened .page-nav .hamburger::before {
  display: inline-block;
}

.page-header.nav-opened .navigation-menu {
  display: block;
}

.page-logo {
  width: 100px;
}

.article-title {
  margin: 0;
  font-weight: normal;
  font-size: 4.1rem;
  padding: 24px;
  margin: 0;
}

.article-lead {
  font-size: 2.1rem;
  font-weight: lighter;
  padding-bottom: 44px;
  margin: 0;
}

.article-sidebar {
  border-bottom: 1px solid #eceff1;
  border-top: 1px solid #eceff1;

  padding-top: 82px;
  padding-bottom: 82px;
  margin-top: 104px;
  margin-bottom: 104px;
}

.article-sidebar .article-picture img {
  max-width: 100%;
}

.article-author-photo {
  max-width: 60px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.article-author-name {
  color: #17c4ad;
  font-size: 1.4rem;
  margin: 0;
}

.article-author-name::after {
  content: "\00b7";
  display: block;
  color: #ffffff;
  font-size: 2.5rem;
}

.article-date {
  font-size: 1.4rem;
}

.article-container,
.article-sidebar {
  padding: 15px;
  padding-top: 82px;

  line-height: 26px;
}

.article-container p {
  margin-top: 0;
}
